*{
    margin: 0; 
    padding: 0;
}

:root{
    --Brown-dark: #7F5539; 
    --Brown-second-dark: #7F5539;
    --Brown-light: #B08968;
    --Brown-second-light: #DDB892;
    --Brown-lightest: #E6CCB2;
}

/*Header*/
header{
    background-color: var(--Brown-second-light);
    padding: 0.3rem 0;
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#nav-bar{
    margin: 0 auto;
}

.logo img{
    max-width: 150px;
}

.nav-list{
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

.nav-link{
    text-decoration: none;
    color: var(--Brown-dark);
    font-weight: bold;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    font-size: calc(0.3rem + 1.0vw);
    padding: 0.5rem 1rem;
}

.nav-link:hover{
    background-color: var(--Brown-light);
    color: #FFFFFF;
    padding: 1.8rem 1rem;
    border-bottom: var(--Brown-dark) solid 3px;
}

.header-button1{
    background-color: var(--Brown-second-light);
    border-radius: 20px;
    color: var(--Brown-second-dark);
    padding: 0.7rem 1rem;
    border: var(--Brown-second-dark) solid 2px;
    font-weight: bold;
    font-size: calc(0.3rem + 1.0vw);
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
}

.header-button2{
    background-color: var(--Brown-dark);
    border-radius: 20px;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border: var(--Brown-dark) solid 2px;
    font-size: calc(0.3rem + 1.0vw);
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
}

.header-button1, .header-button2{
    margin: 0 7px;
    cursor: pointer;
}

.header-button1:hover{
    background-color: var(--Brown-dark);
    color: #FFFFFF;
    border: var(--Brown-dark) solid 2px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.header-button2:hover{
    background-color: var(--Brown-second-light);
    color: var(--Brown-dark);
    border: var(--Brown-dark) solid 2px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    
}